@model IEnumerable<ASPNET5_Auth.Models.Person>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            
        </tr>
    }
</table>
